//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 11 07:39:41 2024
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

