//! **************************************************************************
// Written by: Map P.20131013 on Mon Aug 05 05:41:07 2024
//! **************************************************************************

SCHEMATIC START;
COMP "mode<0>" LOCATE = SITE "P206" LEVEL 1;
COMP "mode<1>" LOCATE = SITE "P205" LEVEL 1;
COMP "clk" LOCATE = SITE "P132" LEVEL 1;
COMP "sout" LOCATE = SITE "P164" LEVEL 1;
COMP "sin" LOCATE = SITE "P163" LEVEL 1;
COMP "pin<0>" LOCATE = SITE "P190" LEVEL 1;
COMP "pin<1>" LOCATE = SITE "P189" LEVEL 1;
COMP "pout<0>" LOCATE = SITE "P178" LEVEL 1;
COMP "pin<2>" LOCATE = SITE "P193" LEVEL 1;
COMP "pout<1>" LOCATE = SITE "P177" LEVEL 1;
COMP "pin<3>" LOCATE = SITE "P192" LEVEL 1;
COMP "pout<2>" LOCATE = SITE "P180" LEVEL 1;
COMP "pout<3>" LOCATE = SITE "P179" LEVEL 1;
COMP "rst" LOCATE = SITE "P204" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

