NET "clk_12Mhz" LOC = P80;
NET "rst" LOC = P204;
NET "lcd_rs" LOC = P48;
NET "lcd_en" LOC = P49;
NET "lcd_data[7]" LOC = P24;
NET "lcd_data[6]" LOC = P29;
NET "lcd_data[5]" LOC = P31;
NET "lcd_data[4]" LOC = P33;
NET "lcd_data[3]" LOC = P35;
NET "lcd_data[2]" LOC = P39;
NET "lcd_data[1]" LOC = P41;
NET "lcd_data[0]" LOC = P47;
